.CatalogArea{
    display: grid;
  grid-template-columns: repeat(4,1fr); 
  padding-left: 30px;


  
   
}
@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    }
  }
